/* .test {
    background-color: red;
} */

.slick-prev::before,
.slick-next::before {
    display: none;

}

.item-box:hover+.divider {
    border: 2px solid brown;
}

/* 
https://demo2.pavothemes.com/freshio/home-2/
https://medium.com/@gregory.ovis.second/how-to-add-custom-arrows-to-a-react-slick-carousel-a3aac873c46d#:~:text=The%20first%20thing%20to%20do,these%20properties%20should%20be%20modules.&text=You%20can%20add%20what%20you,from%20the%20React%2DIcons%20library. */